{{>header}}
<p>Esta es la página de los cursos disponibles  </p>
<div class="container">
 

{{{listarCursos}}}

	{{{verCursos}}}

<br>
{{{vercursosidnombre }}}
<br>

{{{nombre}}} 
{{{id}}}

</div>
{{>footer}}